:root {
  --primary-color: #131314;
  --secondary-color: #424141;
  --third-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
body {
  background: #d6b7b5;
}
h3,
h4,
h5,
input,
textarea,
.navigation-bar,
.intro,
.homepage,
.copyright,
.homepage-link,
.project-paragraph,
.social-links,
.form-container,
.contact-paragraph {
  text-align: center;
}
span,
footer,
.intro,
.social-links a,
.launch-link a,
.form-container {
  background-color: var(--secondary-color);
}
h1,
h2,
span,
footer,
.social-links a,
.launch-link a,
.links {
  color: var(--third-color);
}
.homepage-paragraph,
.project-paragraph,
.contact-paragraph,
.social-links a .email-link {
  font-size: 15px;
}
.homepage-paragraph,
.project-paragraph,
input,
textarea,
.contact-button {
  background-color: var(--third-color);
}
.homepage-link,
.email-link,
.links {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: crete round;
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 60px;
  font-weight: 40px;
  line-height: 35px;
}
h3 {
  font-size: 55px;
  margin: 15px;
  color: var(--primary-color);
}
h4 {
  margin-top: 10px;
  font-size: 30px;
  color: var(--secondary-color);
}
h5 {
  font-size: 22px;
}
span {
  font-size: 25px;
  padding-left: 800px;
  text-align: left;
}
p {
  font-family: roboto serif;
}
.navigation-bar {
  border-bottom: var(--secondary-color) solid;
  opacity: 80%;
}
.navbar-brand {
  background-color: #d6b7b5;
  padding: 7px;
  border-radius: 9px;
}
.navbar-toggler {
  border: var(--secondary-color) solid;
}
.intro {
  padding: 10px 0 30px 0;
  margin: 80px 120px -40px 10px;
}
.homepage-paragraph {
  box-shadow: var(--box-shadow);
  margin: 0px 5px 15px 230px;
  padding: 30px 8px;
}
.project-paragraph {
  padding: 20px 12px;
  margin: 20px;
}

.form-container {
  padding: 50px;
  line-height: 45px;
  margin: 85px 105px 85px 105px;
}
footer {
  padding: 5px 35px;
  margin: 55px -10px -5px -10px;
}

.social-links a {
  margin: 0 20px;
  padding: 18px;
  border-radius: 50%;
}

.links-heading {
  font-size: 25px;
  line-height: 35px;
}

.homepage-link {
  color: var(--secondary-color);
  display: block;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.launch-link a {
  padding: 15px;
  margin: 50px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}
.email-link {
  color: var(--primary-color);
}
.email-link:hover {
  text-decoration: underline;
}

.links {
  line-height: 22px;
}
li {
  list-style: none;
}

input,
textarea {
  padding: 5px;
  width: 93%;
}
.contact-button {
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 15px;
  margin: 10px;
  color: var(--secondary-color);
}
.contact-button:hover {
  background-color: #d6b7b5;
}

@media (max-width: 700px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  .homepage-paragraph,
  .project-paragraph {
    text-align: center;
  }
  h1,
  h2,
  h3,
  h5 {
    font-size: 25px;
  }
  span,
  h4,
  .links-heading {
    font-size: 18px;
  }
  span{
    padding-left: 200px;
  }

  .homepage-link,
  .links {
    font-size: 15px;
  }
  .intro {
    margin-bottom: -55px;
  }
  .homepage-paragraph {
    font-size: 12px;
    margin: 0 35px;
  }
  .project-paragraph {
    font-size: 10px;
    margin: 0 8px;
  }
  img {
    width: 140px;
    height: 140px;
  }
  .launch-link a {
    padding: 10px;
    margin: 5px;
  }
  .form-container {
    margin: 20px;
    padding: 18px;
  }
  footer {
    margin-bottom: -40px;
  }
}
